@import "../../Theme.scss";

.about-container {
  color: var(--textColor);
  min-width: 100vw;
  min-height: 100vh;

  .experiences {
    background-color: var(--bg2);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .experiences-title {
      margin-top: 6rem;

      p {
        font-size: 30px;
      }
    }

    .card-exp-group {
      margin-top: 48px;
      min-width: 60%;
      display: grid;
      grid-template-columns: repeat(2, 1fr); // padrão: 2 colunas
      gap: 2.5rem;
      justify-items: center;
      align-items: start;
      padding-bottom: 6rem;
    }
  }
}

@import './About-mobile.scss'