@import "../../Theme.scss";

.card-exp {
  width: 100%;
  height: 320px;
  padding: 0.8rem;
  border-radius: 12px;
  background-color: var(--bgCardExp);
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    border: 2px solid var(--cardExpHover);
  }
}

.img-header-exp {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;

  .image-card {
    max-height: 200px;
    width: auto;
    object-fit: contain;
  }
}

.exp-card-titles {
  margin-top: auto; 
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  .company-exp p,
  .time-exp p {
    font-size: 20px;
    font-weight: 500;
  }
}
