@import "../../Theme.scss";

.contact-container {
  min-height: 100vh;
  background-color: var(--bg2);
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-content {
    width: 100%;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
    min-height: 100vh;

    .contact-title p {
      font-size: 30px;
      font-weight: 500;
    }

    .contact-media {

      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      align-items: center;
      justify-content: center;
      margin-bottom: 6rem;

      .media-title p {
        font-size: 20px;
      }

      .email {
        a {
          font-size: 19px;
          gap: 10px;
          align-items: center;
          display: flex;
          text-decoration: none;
          color: var(--textColor);
          font-weight: 600;
        }
      }

      .media-links {
        display: flex;

        a {
          text-decoration: none;
          height: 56px;
          width: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid transparent;
          border-radius: 8px;
          transition: 0.2s ease;


          &:hover {
            background-color: var(--hoverTechIcon);
          }
        }

        .git,
        .link {
          color: var(--colorIcon);
          font-size: 34px;
        }
      }
    }

    .form-wrapper {
      width: 600px;
      padding: 2rem;
      background-color: var(--bgForm);
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);

      .form-content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h2 {
          text-align: center;
          margin-bottom: 1rem;
        }

        .input-group {
          display: flex;
          flex-direction: column;
          gap: 3rem;

        }

        button {
          padding: 1rem;
          background-color: var(--btnContact);
          color: var(--textColor);
          font-size: 18px;
          border: none;
          border-radius: 6px;
          cursor: pointer;
          transition: background-color 0.2s ease;

          &:hover {
            background-color: var(--btnContactHover);
          }
        }
      }
    }
  }
}

@import './Contact-mobile.scss'