@import "../header/Header.scss";

.wrapper-side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: end;
  opacity: 1;
  transition: opacity 0.3s ease;

  &.fade-in {
    opacity: 1;
    pointer-events: auto;
  }

  &.fade-out {
    opacity: 0;
    pointer-events: none;
  }

  .side-menu {
    transition: all 0.3s ease;
    height: 100%;
    width: 70%;
    background-color: var(--bg1);
    padding: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateX(0);
    transition: transform 0.3s ease;

    .wrapper-side-menu.fade-in & {
      transform: translateX(0);
    }

    .wrapper-side-menu.fade-out & {
      transform: translateX(100%);
    }
  }

  .navigate {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 2px solid var(--borderBottomHeaderTransparent);
    padding-top: 1rem;

    .link-css {
      text-decoration: none;
      color: var(--textColor);
      width: fit-content;
    }

    p {
      font-size: 18px;
      cursor: pointer;
      display: inline-block;
      width: fit-content;

      &:after {
        display: block;
        content: "";
        border-bottom: solid 1px var(--borderHeaderItem);
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin: 0% 50%;
      }

      &:hover:after {
        transform: scaleX(1);
      }

      &:hover {
        color: var(--borderHeaderItem);
      }

      &.active {
        font-weight: bold;

        &:after {
          transform: scaleX(1);
        }
      }
    }
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 2px solid var(--borderBottomHeaderTransparent);
    margin-top: 2rem;
    padding-top: 2rem;

    .icon {
      cursor: pointer;

      path {
        stroke: var(--colorIcon);
        transition: 0.3s ease;
      }

      &:hover path {
        stroke: #8c9295;
      }
    }

    button {
      cursor: pointer;
      width: 100%;
      height: 36px;
      border-radius: 12px;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid transparent;
      background-color: var(--bgDownloadCv);
      transition: 0.3s ease;
      color: var(--reverseColor);

      &:hover {
        background-color: var(--bgDownloadCvHover);
      }
    }
  }

  .close-btn {
    font-size: 16px;
    position: absolute;
    cursor: pointer;
    display: inline-block;
    top: 20px;
    right: 20px;
    color: var(--textColor);
  }
}

@import './HamburgerMenu-mobile.scss'