.projects-container {
  min-width: 100%;
  min-height: 100vh;
  color: white;
  background-color: #030712;
  display: flex;
  justify-content: center;

  .projects-content {
    width: 100%;
    padding-top: 6rem;
    display: flex;
    justify-content: center;

    .projects-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, 480px);
      justify-content: center;
      gap: 34px;
      width: 90%;
      margin-bottom: 6rem;
    }
  }
}
