.container {
  height: 100vh;
  width: 100vw;
  background-color: #1E1E1E;
  color: #fff;

  .main-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 10rem;
    align-items: center;


  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 43%;

    h1 {
      font-size: 5.5rem;
    }

    p {
      font-size: 1.6rem;
      color: #ccc;
    }

    .btn-group {
      display: flex;
      width: 100%;
      margin-top: 1rem;
      justify-content: center;

      button {
        width: 12.4rem;
        padding: 0.6rem;
        border: 1px solid transparent;
        border-radius: 10px;
        cursor: pointer;
        font-size: 21px;
        background-color: #dadada;
        font-weight: bold;
        transition: background-color 0.3s, transform 0.3s;

        &:hover {
          background-color: #ffffff;
          transform: scale(1.05);
        }
      }
    }
  }

  .image-content {
    height: 65%;
    border-radius: 1.2rem;
  }

}